<%- content_for :title do %><%= t('application.title') %><% end %>

<div class="container">
  <h2><%= t('application.title') %></h2>

  <ul class="list-inline">
    <li>
      <button type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#addApplicationDialog">
        <%= t('button.add') %>
      </button>
    </li>
  </ul>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= t('application.column.name') %></th>
        <th><%= t('application.column.description') %></th>
        <th><%= t('application.column.repository_url') %></th>
        <th><%= t('application.column.last_build') %></th>
      </tr>
    </thead>

    <tbody>
      <%- @apps.each do |app| %>
      <tr>
        <td><%= application_status_icon(app.status) %></td>
        <td><%= app.name %></td>
        <td><%= app.description %></td>
        <td><%= app.repository_url %></td>
        <td><%= app.last_build %></td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>

<%= render partial: 'add_application_dialog' %>
