<%- content_for :title do %><%= t('container.title') %><% end %>

<div class="container">
  <h2><%= t('container.title') %></h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= t('container.column.id') %></th>
        <th><%= t('container.column.image') %></th>
        <th><%= t('container.column.command') %></th>
        <th><%= t('container.column.ip') %></th>
        <th><%= t('container.column.ports') %></th>
        <th><%= t('container.column.created') %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%- @containers.each do |container| %>
      <tr>
        <td><%= running_status_icon(container.is_running?) %></td>
        <td><%= container.short_id %></td>
        <td><%= container.image %></td>
        <td><%= container.command %></td>
        <td><%= container.ip %></td>
        <td><%= container.ports %></td>
        <td><%= container.created %></td>
        <td><%= link_to t('button.detail'), containers_show_path(id: container.short_id), class: "btn btn-primary btn-sm" %></td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>
