<%- content_for :title do %>コンテナ一覧<% end %>

<div class="container">
  <h2>コンテナ一覧</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>コンテナID</th>
        <th>イメージ</th>
        <th>コマンド</th>
        <th>IPアドレス</th>
        <th>ポートフォワード</th>
        <th>作成日</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%- @containers.each do |container| %>
      <tr>
        <td><%= running_status_icon(container.is_running?) %></td>
        <td><%= container.short_id %></td>
        <td><%= container.image %></td>
        <td><%= container.command %></td>
        <td><%= container.ip %></td>
        <td><%= container.ports %></td>
        <td><%= container.created %></td>
        <td><%= link_to "詳細", containers_show_path(id: container.short_id), class: "btn btn-primary btn-sm" %></td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>
