<%= link_to "イメージ一覧", :controller => "images", :action => "index" %>
<%= link_to "コンテナ一覧", :controller => "containers", :action => "index" %>

<hr>

<h1>コンテナ一覧</h1>

<%= form_tag('/containers/index') do %>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>コンテナID</th>
    <th>イメージ</th>
    <th>コマンド</th>
    <th>稼動状態</th>
    <th>IPアドレス</th>
    <th>ポートフォワード</th>
    <th>作成日</th>
    <th>&nbsp;</th>
  </tr>

<% @containers.each do |container| %>
  <tr>
    <td>
      <%= check_box_tag 'containers[id][]', container.short_id, false, {} %>
    </td>
    <td><%= container.short_id %></td>
    <td><%= container.image %></td>
    <td><%= container.command %></td>
    <td><%= container.running %></td>
    <td><%= container.ip %></td>
    <td><%= container.ports %></td>
    <td><%= container.created %></td>
    <td><%= link_to "詳細", :action => "show", :id => container.short_id %></td>
  </tr>

<% end %>

<%= submit_tag("起動", :name => "start") %>
<%= submit_tag("停止", :name => "stop") %>
<%= submit_tag("削除", :name => "rm") %>

<% end -%>

</table>
