<%- content_for :title do %>コンテナ情報<% end %>

<div class="container">
  <h2>コンテナ情報</h2>

  <ul class="list-inline">
    <%- unless @container.is_running? %>
    <li>
      <%= button_to '開始', containers_start_path, method: :post, class: "btn btn-primary" %>
    </li>
    <%- else %>
    <li>
      <%= button_to '停止', containers_stop_path, method: :post, class: "btn btn-warning" %>
    </li>
    <%- end %>
    <li>
      <%= button_to '削除', containers_remove_path, method: :delete, class: "btn btn-danger" %>
    </li>
  </ul>

  <table class="table table-striped">
    <tr>
      <th>稼動状態</th>
      <td><%= running_status_icon(@container.is_running?) %></td>
    </tr>
    <tr>
      <th>コンテナID</th>
      <td><%= @container.id %></td>
    </tr>
    <tr>
      <th>イメージ</th>
      <td><%= @container.image %></td>
    </tr>
    <tr>
      <th>コマンド</th>
      <td><%= @container.command %></td>
    </tr>
    <tr>
      <th>環境変数</th>
      <td><%= @container.env %></td>
    </tr>
    <tr>
      <th>IPアドレス</th>
      <td><%= @container.ip %></td>
    </tr>
    <tr>
      <th>ポートフォワード</th>
      <td><%= @container.ports %></td>
    </tr>
    <tr>
      <th>作成日</th>
      <td><%= @container.created %></td>
    </tr>
  </table>

  <%- if @container.is_running? %>
  <h3>コンテナのプロセス状態</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <%- @container.top_keys.each do |key| %>
        <th><%= key %></th>
        <%- end %>
      </tr>
    </thead>

    <tbody>
      <%- @container.top.each do |t| %>
      <tr>
        <%- t.values.each do |value| %>
        <td><%= value %></td>
        <%- end %>
      </tr>
      <%- end %>
    </tbody>
  </table>
  <%- end %>
</div>
