<%- content_for :title do %><%= t('container_detail.title') %><% end %>

<div class="container">
  <h2><%= t('container_detail.title') %></h2>

  <ul class="list-inline">
    <%- unless @container.is_running? %>
    <li>
      <%= button_to t('button.start'), containers_start_path, method: :post, class: "btn btn-primary" %>
    </li>
    <%- else %>
    <li>
      <%= button_to t('button.stop'), containers_stop_path, method: :post, class: "btn btn-warning" %>
    </li>
    <%- end %>
    <li>
      <%= button_to t('button.remove'), containers_remove_path, method: :delete, class: "btn btn-danger" %>
    </li>
  </ul>

  <table class="table table-striped">
    <tr>
      <th><%= t('container.column.state') %></th>
      <td>
        <%= running_status_icon(@container.is_running?) %>
        <%- if @container.is_running? %>
          <%= t('container.running_status.running') %>
        <%- else %>
          <%= t('container.running_status.stopped') %>
        <%- end %>
      </td>
    </tr>
    <tr>
      <th><%= t('container.column.id') %></th>
      <td><%= @container.id %></td>
    </tr>
    <tr>
      <th><%= t('container.column.image') %></th>
      <td><%= @container.image %></td>
    </tr>
    <tr>
      <th><%= t('container.column.command') %></th>
      <td><%= @container.command %></td>
    </tr>
    <tr>
      <th><%= t('container.column.env') %></th>
      <td><%= @container.env %></td>
    </tr>
    <tr>
      <th><%= t('container.column.ip') %></th>
      <td><%= @container.ip %></td>
    </tr>
    <tr>
      <th><%= t('container.column.ports') %></th>
      <td><%= @container.ports %></td>
    </tr>
    <tr>
      <th><%= t('container.column.created') %></th>
      <td><%= @container.created %></td>
    </tr>
  </table>

  <%- if @container.is_running? %>
  <h3><%= t('container.column.process') %></h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <%- @container.top_keys.each do |key| %>
        <th><%= key %></th>
        <%- end %>
      </tr>
    </thead>

    <tbody>
      <%- @container.top.each do |t| %>
      <tr>
        <%- t.values.each do |value| %>
        <td><%= value %></td>
        <%- end %>
      </tr>
      <%- end %>
    </tbody>
  </table>
  <%- end %>
</div>
