<div class="modal fade" id="addImageDialog" role="dialog"
     tabindex="-1" aria-labelledby="addImageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addImageLabel"><%= t('image.dialog.add') %></h4>
      </div>
      <%= form_for(@new_image, url: images_create_path) do |f| %>
        <div class="modal-body">
          <%= f.label :repo_tags, t('image.column.repository') << ':' << t('image.column.tag') %>
          <%= f.text_field :repo_tags, name: 'joad_image[repo_tags][]' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <%= t('button.cancel') %>
          </button>
          <%= f.submit t('button.add'), class: "btn btn-primary" %>
        </div>
      <%- end %>
    </div>
  </div>
</div>
