<h1>イメージ一覧</h1>

<table>
  <tr>
    <th>ID</th>
    <th>タグ</th>
    <th>リポジトリ</th>
    <th>サイズ</th>
    <th>作成日</th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.get_short_id %></td>
    <td><%= image.get_tag %></td>
    <td><%= image.get_repository %></td>
    <td><%= number_to_human_size(image.get_size) %></td>
    <td><%= image.get_created %></td>
  </tr>

<% end %>

</table>
