<%- content_for :title do %><%= t('image.title') %><% end %>

<div class="container">
  <h2><%= t('image.title') %></h2>

  <ul class="list-inline">
    <li>
      <button type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#addImageDialog">
        <%= t('button.add') %>
      </button>
    </li>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= t('image.column.id') %></th>
        <th><%= t('image.column.repository') %></th>
        <th><%= t('image.column.tag') %></th>
        <th><%= t('image.column.size') %></th>
        <th><%= t('image.column.created') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%- @images.each do |image| %>
      <tr>
        <td><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></td>
        <td><%= link_to image.short_id, images_show_path(id: image.short_id, repository: image.repository, tag: image.tag) %></td>
        <td><%= image.repository %></td>
        <td><%= image.tag %></td>
        <td><%= number_to_human_size(image.size) %></td>
        <td><%= image.created %></td>
        <td><%= button_to t('button.start'), images_create_container_path(id: image.short_id, repository: image.repository, tag: image.tag), method: :post, class: 'btn btn-primary btn-sm' %></td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>

<%= render partial: 'add_image_dialog' %>
