<%- content_for :title do %>イメージ一覧<% end %>

<div class="container">
  <h2>イメージ一覧</h2>

  <ul class="list-inline">
    <li>
      <button type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#addImageDialog">
        追加
      </button>
    </li>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>リポジトリ</th>
        <th>タグ</th>
        <th>サイズ</th>
        <th>作成日</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%- @images.each do |image| %>
        <%- image.repo_tags.each do |rt| %>
      <tr>
        <td><%= image.short_id %></td>
        <td><%= rt[:repo] %></td>
        <td><%= rt[:tag] %></td>
        <td><%= number_to_human_size(image.size) %></td>
        <td><%= image.created %></td>
        <td><%= button_to '起動', create_container_path(image.short_id), method: :post, class: 'btn btn-primary btn-sm' %></td>
      </tr>
        <%- end %>
      <%- end %>
    </tbody>
  </table>
</div>

<%= render partial: 'add_image_dialog' %>
