<!DOCTYPE html>
<html>
<head>
  <title><%= t('joad.title') %> - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>"><%= t('joad.title') %></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="<%= applications_index_path %>"><%= t('application.header') %></a></li>
          <li><a href="<%= images_index_path %>"><%= t('image.header') %></a></li>
          <li><a href="<%= containers_index_path %>"><%= t('container.header') %></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
