<!DOCTYPE html>
<html>
<head>
  <title>JoadConsole</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "トップ", root_path %> |
  <%= link_to "イメージ一覧", images_index_path %> |
  <%= link_to "コンテナ一覧", containers_index_path %>

  <hr>

<%= yield %>

</body>
</html>
